In [18]:
import pandas as pd
import numpy as np
import chart_studio.plotly as py
import plotly.graph_objs as pgo
import glob

In [15]:
tran_df = pd.read_excel("/Users/andres/Desktop/CSE498/appdynamics/training_csv/fam_3_edu_2_CCAvg_4_group.xlsx")
tran_df.head()

,id,Age,Experience,Income,ZIP.Code,Family,CCAvg,Education,Mortgage,Personal.Loan,Securities.Account,CD.Account,Online,CreditCard,responsetime,problem_group,portion,time
1,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0,1938.100070,6,0.073529,2020-02-15 00:00:00
2,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0,25.165190,0,0.000000,2020-02-15 00:02:52
3,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0,2267.739555,6,0.279412,2020-02-15 00:05:45
4,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0,18.932080,0,0.000000,2020-02-15 00:08:38
5,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1,25.627543,0,0.000000,2020-02-15 00:11:31

In [16]:
tran_df = pd.read_excel("/Users/andres/Desktop/CSE498/appdynamics/training_csv/fam_3_edu_2_CCAvg_4_group.xlsx")

problem_group_text = []
new_responsetime = []
portion = []
new_portion = []

problem_dict = {0 : "normal", 2 : "Family + Education + CCAvg", 6 : "All other anomalies"}

for index, row in tran_df.iterrows():
    problem_group_text.append(problem_dict[row['problem_group']])
    
tran_df['anomaly_class'] = problem_group_text

tran_df.head()

,id,Age,Experience,Income,ZIP.Code,Family,CCAvg,Education,Mortgage,Personal.Loan,Securities.Account,CD.Account,Online,CreditCard,responsetime,problem_group,portion,time,anomaly_class
1,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0,1938.100070,6,0.073529,2020-02-15 00:00:00,All other anomalies
2,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0,25.165190,0,0.000000,2020-02-15 00:02:52,normal
3,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0,2267.739555,6,0.279412,2020-02-15 00:05:45,All other anomalies
4,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0,18.932080,0,0.000000,2020-02-15 00:08:38,normal
5,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1,25.627543,0,0.000000,2020-02-15 00:11:31,normal

In [21]:
zipcode_to_latlong = pd.read_csv("./us-zip-code-latitude-and-longitude.csv")

In [22]:
zipcode_to_latlong.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,71937,Cove,AR,34.398483,-94.39398,-6,1,"34.398483, -94.39398"
1,72044,Edgemont,AR,35.624351,-92.16056,-6,1,"35.624351, -92.16056"
2,56171,Sherburn,MN,43.660847,-94.74357,-6,1,"43.660847, -94.74357"
3,49430,Lamont,MI,43.010337,-85.89754,-5,1,"43.010337, -85.89754"
4,52585,Richland,IA,41.194129,-91.98027,-6,1,"41.194129, -91.98027"