In [4]:
import pandas as pd
import numpy as np
import chart_studio.plotly as py
import plotly.graph_objs as pgo
import glob

In [15]:
tran_df = pd.read_excel("/Users/andres/Desktop/CSE498/appdynamics/training_csv/fam_3_edu_2_CCAvg_4_group.xlsx")
tran_df.head()

,id,Age,Experience,Income,ZIP.Code,Family,CCAvg,Education,Mortgage,Personal.Loan,Securities.Account,CD.Account,Online,CreditCard,responsetime,problem_group,portion,time
1,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0,1938.100070,6,0.073529,2020-02-15 00:00:00
2,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0,25.165190,0,0.000000,2020-02-15 00:02:52
3,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0,2267.739555,6,0.279412,2020-02-15 00:05:45
4,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0,18.932080,0,0.000000,2020-02-15 00:08:38
5,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1,25.627543,0,0.000000,2020-02-15 00:11:31

In [16]:
tran_df = pd.read_excel("/Users/andres/Desktop/CSE498/appdynamics/training_csv/fam_3_edu_2_CCAvg_4_group.xlsx")

problem_group_text = []
new_responsetime = []
portion = []
new_portion = []

problem_dict = {0 : "normal", 2 : "Family + Education + CCAvg", 6 : "All other anomalies"}

for index, row in tran_df.iterrows():
    problem_group_text.append(problem_dict[row['problem_group']])
    
tran_df['anomaly_class'] = problem_group_text

tran_df.head()

,id,Age,Experience,Income,ZIP.Code,Family,CCAvg,Education,Mortgage,Personal.Loan,Securities.Account,CD.Account,Online,CreditCard,responsetime,problem_group,portion,time,anomaly_class
1,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0,1938.100070,6,0.073529,2020-02-15 00:00:00,All other anomalies
2,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0,25.165190,0,0.000000,2020-02-15 00:02:52,normal
3,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0,2267.739555,6,0.279412,2020-02-15 00:05:45,All other anomalies
4,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0,18.932080,0,0.000000,2020-02-15 00:08:38,normal
5,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1,25.627543,0,0.000000,2020-02-15 00:11:31,normal

In [21]:
zipcode_to_latlong = pd.read_csv("./us-zip-code-latitude-and-longitude.csv")

In [22]:
zipcode_to_latlong.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,71937,Cove,AR,34.398483,-94.39398,-6,1,"34.398483, -94.39398"
1,72044,Edgemont,AR,35.624351,-92.16056,-6,1,"35.624351, -92.16056"
2,56171,Sherburn,MN,43.660847,-94.74357,-6,1,"43.660847, -94.74357"
3,49430,Lamont,MI,43.010337,-85.89754,-5,1,"43.010337, -85.89754"
4,52585,Richland,IA,41.194129,-91.98027,-6,1,"41.194129, -91.98027"

In [15]:
def data_maker(data=None, normal_noise=0.05, anomaly_noise=0.20, groups=3, feature_set=[['Mortgage', 'Family'], ['Education', 'Income'], ['ZIP.Code']],
               thresholds=[[[200, 1], [[3, 2], 4]], [[[1, 2], 4], [(50, 100), 3]], [[[91107], 4]]],
               anomaly_types=[2, 1, 3], feature_set_size=[2, 3, 4],
               random_groups=False, random_anomalies=False, random_features=False, random_thresholds=False,
               random_state=1):
    """
    params:
    data: pandas data frame
    normal_noise: portion of data that is set to an anomalous value regardless of thresholds
    anomaly_noise: portion of data that within anomalous thresholds that performs normaly
    groups: integer equal to the number of anomalous behavior creating combinations
    feature_set: array of arrays outer dimension must be the same length as groups if random_features = False
    thresholds: Array containing threshold information for each feature in feature set. Each threshold of a given feature is of the form
                [(value, range, or list), operator code] If rand_features = True thresholds will be chosen 
                randomly as well.
                operator codes:
                    # 0 -> equal to
                    # 1 -> greater than or equal to
                    # 2 -> less than or equal to
                    # 3 -> inclusive range
                    # 4 -> list of discreet values
    anomaly_types: An array of values of 1, 2, or 3 that indicate the "anomaly type" of each of the groups
                anomaly types:
                    # 1 -> slow
                    # 2 -> very slow
                    # 3 -> error                
    feature_set: An array of integers to draw from (with replacement) for choosing the number of features to use in each "group"
                     when random_features = True (if random_features = False this parameter is unused)
    random_groups: Boolean that determines whether or not the number of groups to use will be chosen randomly 
                    (if this is set to true everything well be choosen randomly)
    random_anomalies: Boolean that determines whether or not each groups anamoly type will be chosen randomly
    random_features: Boolean that determines whether or not features and the number of features in each group 
                     will be chosen randomly
    random_thresholds: Boolean that detremines whether or not each groups threholds will be chosen random
                     (automatically random if random_features or random_groups are True)
    random_state: Seed for Random values
    """
    # reset target column to 0

    import numpy as np
    data['anomalous'] = 0

    all_features = ['Age', 'Experience', 'Income', 'CCAvg', 'Mortgage', 'ZIP.Code', 'Family', 'Education',
                    'CD.Account', 'CreditCard', 'Personal.Loan', 'Securities.Account', 'Online']
    continuous_features = ['Age', 'Experience', 'Income', 'CCAvg', 'Mortgage']
    qualitative_m_features = ['ZIP.Code', 'Family', 'Education']
    qualitative_binary_features = ['CD.Account', 'CreditCard', 'Personal.Loan',
                                   'Securities.Account', 'Online']
    np.random.seed(random_state)
    if (random_features or random_groups):
        # generate random number of groups
        if (random_groups):
            groups = np.random.choice([1, 2, 3, 4, 5])
        # generate random feature set
        set_sizes = np.random.choice(feature_set_size, size=groups)
        feature_set = [np.random.choice(all_features, size=x, replace=False) for x in set_sizes]

    # generate random thresholds
    if (random_features or random_groups or random_thresholds):
        thresholds = []
        anomaly_types = []
        for f_set in feature_set:
            t_set = []
            # get range tuples
            for feature in f_set:
                # get anomaly type
                at = np.random.choice([1, 2, 3])
                if (feature in continuous_features):
                    # get operator codes
                    oc = np.random.choice([1, 2, 3])
                    if (oc == 1):
                        quantile = np.random.choice([.5, .75])
                        value = sorted(data[feature])[int(np.floor(quantile * data.shape[0]))]
                    elif (oc == 2):
                        quantile = np.random.choice([.25, .5])
                        value = sorted(data[feature])[int(np.floor(quantile * data.shape[0]))]
                    else:
                        quantile = np.random.choice([0, .25, .75])
                        tuple_1 = sorted(data[feature])[int(np.floor(quantile * data.shape[0]))]
                        tuple_2 = sorted(data[feature])[int(np.floor((quantile + .25) * data.shape[0]))]
                        value = (tuple_1, tuple_2)
                    t_set.append([value, oc])
                elif (feature in qualitative_m_features):
                    # get operator codes
                    oc = np.random.choice([0, 4])
                    if (oc == 0):
                        value = np.random.choice(data[feature])
                    elif (oc == 4):
                        if (feature == 'ZIP.Code'):
                            zip_codes = np.random.choice([x for x in range(1, 6)])
                            value = np.random.choice(np.unique(data[feature]), size=zip_codes, replace=False)
                        elif (feature == 'Family'):
                            family_size = np.random.choice([2, 3])
                            value = np.random.choice(np.unique(data[feature]), size=family_size, replace=False)
                        else:
                            value = np.random.choice(np.unique(data[feature]), size=2, replace=False)
                    t_set.append([value, oc])
                else:
                    t_set.append([1, 0])
            thresholds.append(t_set)

    # build the data frame
    if (random_anomalies or random_groups):
        anomaly_types = np.random.choice([1, 2, 3], size=groups)
    for i, t_set in enumerate(thresholds):
        condition = True
        for j, t_hold in enumerate(t_set):
            if (t_hold[1] == 0):
                condition = condition & (data[feature_set[i][j]] == t_hold[0])
            elif (t_hold[1] == 1):
                condition = condition & (data[feature_set[i][j]] >= t_hold[0])
            elif (t_hold[1] == 2):
                condition = condition & (data[feature_set[i][j]] <= t_hold[0])
            elif (t_hold[1] == 3):
                condition = condition & (
                            (data[feature_set[i][j]] >= t_hold[0][0]) & (data[feature_set[i][j]] <= t_hold[0][1]))
            else:
                condition = condition & (np.isin(data[feature_set[i][j]], t_hold[0]))
            if(anomaly_noise != 0):
                anom_noise = np.random.choice(a=[False, True], size=sum(condition), p=[0.2, 0.8])
                condition[condition] = anom_noise
            data['anomalous'].mask(condition,anomaly_types[i],inplace=True)
            if(normal_noise != 0):
                norm_noise = np.random.choice([1,2,3], size=sum(data['anomalous'] == 0), p=[0.6,0.3,0.1])
                data['anomalous'].mask(data['anomalous']==0, norm_noise, inplace=True)
    # print out what has been made
    anomalies = ['slow', 'very slow', 'error']
    output = "The data frame has the following anomalous groups:"
    for i, t_set in enumerate(thresholds):
        output += "\n" + anomalies[anomaly_types[i] - 1] + " where "
        for j, t_hold in enumerate(t_set):
            output += feature_set[i][j]
            if (t_hold[1] == 0):
                output += " == " + str(t_hold[0])
            elif (t_hold[1] == 1):
                output += " >= " + str(t_hold[0])
            elif (t_hold[1] == 2):
                output += " <= " + str(t_hold[0])
            elif (t_hold[1] == 3):
                output += " is in the inclusive range of " + str(t_hold[0])
            else:
                output += " is in the discrete set of " + str(t_hold[0])
            if (j < len(t_set) - 1):
                output += " and "
    for i in range(1, 4):
        output += "\nThere are " + str(len(data['anomalous'][data['anomalous'] == i])) + " " + anomalies[
            i - 1] + " transactions in this data set"
    return feature_set, thresholds, anomaly_types, output

In [16]:
df = pd.read_excel("/Users/andres/Desktop/CSE498/appdynamics/training_csv/full_set.xlsx")
df = df.drop(['Ô..ID'], axis=1)
df.head()

,Age,Experience,Income,ZIP.Code,Family,CCAvg,Education,Mortgage,Personal.Loan,Securities.Account,CD.Account,Online,CreditCard,responsetime,problem_group,portion,time
1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0,1938.100070,1,0.073529,2020-02-15 00:00:00
2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0,25.165190,0,0.000000,2020-02-15 00:02:52
3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0,2267.739555,4,0.279412,2020-02-15 00:05:45
4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0,18.932080,0,0.000000,2020-02-15 00:08:38
5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1,25.627543,0,0.000000,2020-02-15 00:11:31

In [17]:
data_maker(df)

([['Mortgage', 'Family'], ['Education', 'Income'], ['ZIP.Code']],
 [[[200, 1], [[3, 2], 4]], [[[1, 2], 4], [(50, 100), 3]], [[[91107], 4]]],
 [2, 1, 3],
 'The data frame has the following anomalous groups:\nvery slow where Mortgage >= 200 and Family is in the discrete set of [3, 2]\nslow where Education is in the discrete set of [1, 2] and Income is in the inclusive range of (50, 100)\nerror where ZIP.Code is in the discrete set of [91107]\nThere are 803 slow transactions in this data set\nThere are 150 very slow transactions in this data set\nThere are 47 error transactions in this data set')

In [18]:
df

,Age,Experience,Income,ZIP.Code,Family,CCAvg,Education,Mortgage,Personal.Loan,Securities.Account,CD.Account,Online,CreditCard,responsetime,problem_group,portion,time,anomalous
1,25,1,49,91107,4,1.60,1,0,0,1,0,0,0,1938.100070,1,0.073529,2020-02-15 00:00:00,1
2,45,19,34,90089,3,1.50,1,0,0,1,0,0,0,25.165190,0,0.000000,2020-02-15 00:02:52,1
3,39,15,11,94720,1,1.00,1,0,0,0,0,0,0,2267.739555,4,0.279412,2020-02-15 00:05:45,1
4,35,9,100,94112,1,2.70,2,0,0,0,0,0,0,18.932080,0,0.000000,2020-02-15 00:08:38,1
5,35,8,45,91330,4,1.00,2,0,0,0,0,0,1,25.627543,0,0.000000,2020-02-15 00:11:31,1
6,37,13,29,92121,4,0.40,2,155,0,0,0,1,0,1373.889605,5,0.441176,2020-02-15 00:14:24,2
7,53,27,72,91711,2,1.50,2,0,0,0,0,1,0,26.838841,0,0.000000,2020-02-15 00:17:16,1
8,50,24,22,93943,1,0.30,3,0,0,0,0,0,1,22.588337,0,0.000000,2020-02-15 00:20:09,3
9,35,10,81,90089,3,0.60,2,104,0,0,0,1,0,26.174493,0,0.000000,2020-02-15 00:23:02,1
10,34,9,180,93023,1,8.90,3,0,1,0,0,0,0,25.814199,0,0.000000,2020-02-15 00:25:55,1
11,65,39,105,94710,4,2.40,3,0,0,0,0,0,0,25.734670,0,0.000000,2020-02-15 00:28:48,3
12,29,5,45,90277,3,0.10,2,0,0,0,0,1,0,12.072889,0,0.000000,2020-02-15 00:31:40,1
13,48,23,114,93106,2,3.80,3,0,0,1,0,0,0,16.021570,0,0.000000,2020-02-15 00:34:33,3
14,59,32,40,94920,4,2.50,2,0,0,0,0,1,0,14.087682,0,0.000000,2020-02-15 00:37:26,1
15,67,41,112,91741,1,2.00,1,0,0,1,0,0,0,26.859015,0,0.000000,2020-02-15 00:40:19,1
16,60,30,22,95054,1,1.50,3,0,0,0,0,1,1,14.826511,0,0.000000,2020-02-15 00:43:12,3
17,38,14,130,95010,4,4.70,3,134,1,0,0,0,0,25.345420,0,0.000000,2020-02-15 00:46:04,2
18,42,18,81,94305,4,2.40,1,0,0,0,0,0,0,19.692213,0,0.000000,2020-02-15 00:48:57,1
19,46,21,193,91604,2,8.10,3,0,1,0,0,0,0,12.676821,0,0.000000,2020-02-15 00:51:50,2
20,55,28,21,94720,1,0.50,2,0,0,1,0,0,1,13.637763,0,0.000000,2020-02-15 00:54:43,1
21,56,31,25,94015,4,0.90,2,111,0,0,0,1,0,15.054449,0,0.000000,2020-02-15 00:57:36,1
22,57,27,63,90095,3,2.00,3,0,0,0,0,1,0,25.310309,0,0.000000,2020-02-15 01:00:28,2
23,29,5,62,90277,1,1.20,1,260,0,0,0,1,0,10.036500,0,0.000000,2020-02-15 01:03:21,2
24,44,18,43,91320,2,0.70,1,163,0,1,0,0,0,1476.495669,5,0.441176,2020-02-15 01:06:14,1
25,36,11,152,95521,2,3.90,1,159,0,0,0,0,1,18.551931,0,0.000000,2020-02-15 01:09:07,1
26,43,19,29,94305,3,0.50,1,97,0,0,0,1,0,26.189394,0,0.000000,2020-02-15 01:12:00,1
27,40,16,83,95064,4,0.20,3,0,0,0,0,0,0,16.678176,0,0.000000,2020-02-15 01:14:52,1
28,46,20,158,90064,1,2.40,1,0,0,0,0,1,1,12.154911,0,0.000000,2020-02-15 01:17:45,1
29,56,30,48,94539,1,2.20,3,0,0,0,0,1,1,14.698855,0,0.000000,2020-02-15 01:20:38,2
30,38,13,119,94104,1,3.30,2,0,1,0,1,1,1,18.425930,0,0.000000,2020-02-15 01:23:31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,57,32,75,94928,2,3.70,1,236,0,0,0,1,0,14.617580,0,0.000000,2020-02-16 22:33:36,1
972,43,19,174,92028,3,1.70,3,231,1,0,1,1,1,27.125913,0,0.000000,2020-02-16 22:36:28,2
973,40,16,50,92093,2,1.70,1,174,0,0,0,0,0,1317.684845,5,0.441176,2020-02-16 22:39:21,1
974,43,18,85,92703,1,4.00,3,287,0,0,0,1,0,22.284979,0,0.000000,2020-02-16 22:42:14,2
975,63,38,54,90401,3,2.20,1,0,0,0,0,1,0,21.144778,0,0.000000,2020-02-16 22:45:07,1
976,63,38,83,92122,2,3.40,1,0,1,0,0,0,0,11.795710,0,0.000000,2020-02-16 22:48:00,1
977,54,30,24,94109,4,0.20,1,0,0,1,0,0,0,10.451516,0,0.000000,2020-02-16 22:50:52,1
978,54,30,45,95134,4,1.10,2,205,0,0,0,1,0,1303.047118,5,0.441176,2020-02-16 22:53:45,1
979,52,26,68,92068,1,0.80,3,0,0,0,0,1,1,23.173469,0,0.000000,2020-02-16 22:56:38,1
980,50,26,48,94720,4,0.10,3,0,0,0,0,0,1,18.771084,0,0.000000,2020-02-16 22:59:31,1
981,38,13,114,92697,1,1.00,3,0,0,0,0,1,1,26.463830,0,0.000000,2020-02-16 23:02:24,1
982,36,12,142,90064,3,2.30,2,0,1,0,1,1,1,25.655415,0,0.000000,2020-02-16 23:05:16,1
983,58,33,52,94402,3,0.50,2,0,0,0,0,0,1,29.928561,0,0.000000,2020-02-16 23:08:09,1
984,46,22,142,92220,2,3.30,1,0,0,0,0,0,0,27.905997,0,0.000000,2020-02-16 23:11:02,2
985,50,25,15,92173,1,0.40,3,0,0,0,0,0,0,22.356239,0,0.000000,2020-02-16 23:13:55,2
986,46,22,118,92120,1,4.70,1,159,0,0,0,0,1,28.106722,0,0.000000,2020-02-16 23:16:48,1
987,53,27,101,90245,4,4.90,1,0,0,0,0,1,0,12.971415,0,0.000000,2020-02-16 23:19:40,2
988,62,36,84,94609,2,2.80,1,0,0,0,0,1,0,11.983366,0,0.000000,2020-02-16 23:22:33,1
989,63,39,32,94998,1,1.90,2,100,0,0,0,0,0,13.004579,0,0.000000,2020-02-16 23:25:26,1
990,42,16,64,94607,3,0.50,3,247,0,0,0,0,0,29.844413,0,0.000000,2020-02-16 23:28:19,2
991,34,10,81,94002,4,3.40,1,0,0,0,0,1,0,15.641186,0,0.000000,2020-02-16 23:31:12,1
992,40,14,28,94025,4,1.50,3,0,0,0,0,0,1,21.018958,0,0.000000,2020-02-16 23:34:04,1
993,34,9,93,94608,1,0.00,1,0,0,0,0,1,0,12.922866,0,0.000000,2020-02-16 23:36:57,1
994,41,15,185,91775,1,3.60,2,0,1,0,0,0,0,26.368948,0,0.000000,2020-02-16 23:39:50,1
995,32,8,42,90650,1,1.80,2,0,0,0,0,0,0,26.214540,0,0.000000,2020-02-16 23:42:43,1
996,28,3,45,94305,2,1.60,3,0,0,0,0,1,1,29.994892,0,0.000000,2020-02-16 23:45:36,1
997,33,6,49,92037,2,1.67,2,214,0,0,0,0,0,1369.077780,5,0.441176,2020-02-16 23:48:28,1
998,46,20,69,92780,3,2.10,1,0,0,0,0,0,0,19.062866,0,0.000000,2020-02-16 23:51:21,2
999,52,27,94,93106,1,2.80,2,333,0,0,0,1,0,29.577781,0,0.000000,2020-02-16 23:54:14,1
1000,60,35,18,92120,1,1.50,2,0,0,0,0,1,1,21.751929,0,0.000000,2020-02-16 23:57:07,1

In [ ]:
fam_3_edu_2_CCAvg_4_group.xlsx

In [19]:
df = pd.read_excel("/Users/andres/Desktop/CSE498/appdynamics/training_csv/full_set.xlsx")
df = df.drop(['Ô..ID'], axis=1)
df.head()

,Ô..ID,Age,Experience,Income,ZIP.Code,Family,CCAvg,Education,Mortgage,Personal.Loan,Securities.Account,CD.Account,Online,CreditCard,responsetime,problem_group,portion,time
1,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0,1938.100070,1,0.073529,2020-02-15 00:00:00
2,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0,25.165190,0,0.000000,2020-02-15 00:02:52
3,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0,2267.739555,4,0.279412,2020-02-15 00:05:45
4,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0,18.932080,0,0.000000,2020-02-15 00:08:38
5,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1,25.627543,0,0.000000,2020-02-15 00:11:31

1. split all examples into 5 groups. assign them a group. 
2. for every group, tinker with all the features, within a mean.
3. Features that are binary, also, dealth with accordingly.

In [23]:
df = pd.read_excel("/Users/andres/Desktop/CSE498/appdynamics/training_csv/fam_3_edu_2_CCAvg_4_group.xlsx")
df.rename(columns = {'Ô..ID':'id'}, inplace = True) 
df.head()

,id,Age,Experience,Income,ZIP.Code,Family,CCAvg,Education,Mortgage,Personal.Loan,Securities.Account,CD.Account,Online,CreditCard,responsetime,problem_group,portion,time
1,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0,1938.100070,6,0.073529,2020-02-15 00:00:00
2,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0,25.165190,0,0.000000,2020-02-15 00:02:52
3,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0,2267.739555,6,0.279412,2020-02-15 00:05:45
4,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0,18.932080,0,0.000000,2020-02-15 00:08:38
5,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1,25.627543,0,0.000000,2020-02-15 00:11:31

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [51]:
bank_df = pd.read_csv("./bank-loan/Bank_Personal_Loan_Modelling.csv")
bank_df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

### Make dictionary

In [58]:
%%writefile add_longitude_latitude.py

def add_longitude_latitude(filepath=None):
    
    if filepath is None:
        filepath = "./bank-loan/Bank_Personal_Loan_Modelling.csv"
        
    """function adds longitude and latitude data to your dataframe"""
    
    bank_df = pd.read_csv()
    zip_df = pd.read_csv("./bank-loan/Bank_Personal_Loan_Modelling.csv")

    zips, long, lats = zip_df["Zip"], zip_df["Longitude"], zip_df["Latitude"]

    # dictionary mapping zipcode to latitude and longitude
    zip_dict = {zips[i] : (long[i], lats[i]) for i in range(len(zips))}

    longitudes, latitudes = [], []

    zip_keyword = [ t for t in bank_df.columns if "zip" in str.lower(t) ][0] # find key that contains substring "zip"

    for zip_codes in bank_df[zip_keyword]:
        lon, lat = zip_dict[zip_code]
        longitudes.append(lon)
        latitudes.append(lat)

    bank_df["longitudes"], bank_df["latitudes"], = longitudes, latitudes
    bank_df.drop([zip_keyword], axis=1, inplace=true)
    return bank_df

,ID,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,latitudes,longitudes
0,1,25,1,49,4,1.60,1,0,0,1,0,0,0,32.778047,-97.08088
1,2,45,19,34,3,1.50,1,0,0,1,0,0,0,32.778047,-97.08088
2,3,39,15,11,1,1.00,1,0,0,0,0,0,0,32.778047,-97.08088
3,4,35,9,100,1,2.70,2,0,0,0,0,0,0,32.778047,-97.08088
4,5,35,8,45,4,1.00,2,0,0,0,0,0,1,32.778047,-97.08088
5,6,37,13,29,4,0.40,2,155,0,0,0,1,0,32.778047,-97.08088
6,7,53,27,72,2,1.50,2,0,0,0,0,1,0,32.778047,-97.08088
7,8,50,24,22,1,0.30,3,0,0,0,0,0,1,32.778047,-97.08088
8,9,35,10,81,3,0.60,2,104,0,0,0,1,0,32.778047,-97.08088
9,10,34,9,180,1,8.90,3,0,1,0,0,0,0,32.778047,-97.08088
10,11,65,39,105,4,2.40,3,0,0,0,0,0,0,32.778047,-97.08088
11,12,29,5,45,3,0.10,2,0,0,0,0,1,0,32.778047,-97.08088
12,13,48,23,114,2,3.80,3,0,0,1,0,0,0,32.778047,-97.08088
13,14,59,32,40,4,2.50,2,0,0,0,0,1,0,32.778047,-97.08088
14,15,67,41,112,1,2.00,1,0,0,1,0,0,0,32.778047,-97.08088
15,16,60,30,22,1,1.50,3,0,0,0,0,1,1,32.778047,-97.08088
16,17,38,14,130,4,4.70,3,134,1,0,0,0,0,32.778047,-97.08088
17,18,42,18,81,4,2.40,1,0,0,0,0,0,0,32.778047,-97.08088
18,19,46,21,193,2,8.10,3,0,1,0,0,0,0,32.778047,-97.08088
19,20,55,28,21,1,0.50,2,0,0,1,0,0,1,32.778047,-97.08088
20,21,56,31,25,4,0.90,2,111,0,0,0,1,0,32.778047,-97.08088
21,22,57,27,63,3,2.00,3,0,0,0,0,1,0,32.778047,-97.08088
22,23,29,5,62,1,1.20,1,260,0,0,0,1,0,32.778047,-97.08088
23,24,44,18,43,2,0.70,1,163,0,1,0,0,0,32.778047,-97.08088
24,25,36,11,152,2,3.90,1,159,0,0,0,0,1,32.778047,-97.08088
25,26,43,19,29,3,0.50,1,97,0,0,0,1,0,32.778047,-97.08088
26,27,40,16,83,4,0.20,3,0,0,0,0,0,0,32.778047,-97.08088
27,28,46,20,158,1,2.40,1,0,0,0,0,1,1,32.778047,-97.08088
28,29,56,30,48,1,2.20,3,0,0,0,0,1,1,32.778047,-97.08088
29,30,38,13,119,1,3.30,2,0,1,0,1,1,1,32.778047,-97.08088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4971,37,13,95,2,1.70,2,0,0,0,0,0,1,32.778047,-97.08088
4971,4972,58,28,73,1,1.40,3,0,0,1,0,0,0,32.778047,-97.08088
4972,4973,58,32,41,3,2.20,3,148,0,0,0,1,1,32.778047,-97.08088
4973,4974,31,1,68,4,4.00,3,0,0,0,0,1,0,32.778047,-97.08088
4974,4975,59,33,64,4,1.70,2,0,0,0,0,0,1,32.778047,-97.08088
4975,4976,38,11,29,4,1.00,2,0,0,0,0,1,0,32.778047,-97.08088
4976,4977,29,5,31,1,1.80,2,0,0,0,0,1,1,32.778047,-97.08088
4977,4978,40,15,54,3,0.80,3,0,0,0,0,1,0,32.778047,-97.08088
4978,4979,57,27,63,4,2.00,3,0,0,0,0,1,0,32.778047,-97.08088
4979,4980,50,26,92,1,2.60,2,213,0,0,0,0,1,32.778047,-97.08088
4980,4981,29,5,135,3,5.30,1,0,1,0,1,1,1,32.778047,-97.08088
4981,4982,34,9,195,2,3.00,1,122,0,0,0,1,0,32.778047,-97.08088
4982,4983,36,10,45,4,0.20,1,0,0,0,0,0,1,32.778047,-97.08088
4983,4984,51,26,72,1,2.90,1,0,0,0,0,0,0,32.778047,-97.08088
4984,4985,27,1,98,4,2.30,3,0,0,0,0,0,1,32.778047,-97.08088
4985,4986,48,23,30,3,1.70,2,162,0,0,0,1,0,32.778047,-97.08088
4986,4987,32,6,78,1,2.90,3,0,0,0,0,0,0,32.778047,-97.08088
4987,4988,48,23,43,3,1.70,2,159,0,0,0,1,0,32.778047,-97.08088
4988,4989,34,8,85,1,2.50,1,136,0,0,0,0,1,32.778047,-97.08088
4989,4990,24,0,38,1,1.00,3,0,0,0,0,1,0,32.778047,-97.08088
4990,4991,55,25,58,4,2.00,3,219,0,0,0,0,1,32.778047,-97.08088
4991,4992,51,25,92,1,1.90,2,100,0,0,0,0,1,32.778047,-97.08088
4992,4993,30,5,13,4,0.50,3,0,0,0,0,0,0,32.778047,-97.08088
4993,4994,45,21,218,2,6.67,1,0,0,0,0,1,0,32.778047,-97.08088
4994,4995,64,40,75,3,2.00,3,0,0,0,0,1,0,32.778047,-97.08088
4995,4996,29,3,40,1,1.90,3,0,0,0,0,1,0,32.778047,-97.08088
4996,4997,30,4,15,4,0.40,1,85,0,0,0,1,0,32.778047,-97.08088
4997,4998,63,39,24,2,0.30,3,0,0,0,0,0,0,32.778047,-97.08088
4998,4999,65,40,49,3,0.50,2,0,0,0,0,1,0,32.778047,-97.08088
4999,5000,28,4,83,3,0.80,1,0,0,0,0,1,1,32.778047,-97.08088

In [57]:
zip_keyword = [ t for t in bank_df.columns if "zip" in str.lower(t) ][0] # find key starts with z, since that ussually for zipcode
zip_keyword

'ZIP Code'

In [ ]:
zips = zip_df["Zip"], zip_df["Latitude"], zip_df["Longitude"]
, lats, long
zip_dict = {row["Zip"] : (row["Longitude"], row["Latitude"]) for index, row in zip_df.iterrows() }

In [46]:
zip_dict = {row["Zip"] : (row["Longitude"], row["Latitude"]) for index, row in zip_df.iterrows()  }

In [44]:
for row in zip_df.iterrows():
    zip_dict[row["Zip"]] = (row["Longitude"], row["Latitude"])
    break

TypeError: tuple indices must be integers or slices, not str

In [31]:
tran_df = pd.read_excel("/Users/andres/Desktop/CSE498/appdynamics/training_csv/fam_3_edu_2_CCAvg_4_group.xlsx")

problem_group_text = []
new_responsetime = []
portion = []
new_portion = []

problem_dict = {0 : "normal", 2 : "Family + Education + CCAvg", 6 : "All other anomalies"}

for index, row in tran_df.iterrows():
    problem_group_text.append(problem_dict[row['problem_group']])
    
tran_df['anomaly_class'] = problem_group_text

tran_df.head()

,id,Age,Experience,Income,ZIP.Code,Family,CCAvg,Education,Mortgage,Personal.Loan,Securities.Account,CD.Account,Online,CreditCard,responsetime,problem_group,portion,time,anomaly_class
1,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0,1938.100070,6,0.073529,2020-02-15 00:00:00,All other anomalies
2,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0,25.165190,0,0.000000,2020-02-15 00:02:52,normal
3,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0,2267.739555,6,0.279412,2020-02-15 00:05:45,All other anomalies
4,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0,18.932080,0,0.000000,2020-02-15 00:08:38,normal
5,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1,25.627543,0,0.000000,2020-02-15 00:11:31,normal

In [69]:
def add_longitude_latitude(filepath=None):

    if filepath is None:
        filepath = "./bank-loan/Bank_Personal_Loan_Modelling.csv"
        
    bank_df = pd.read_csv(filepath)
    zip_df = pd.read_csv("./us-zip-code-latitude-and-longitude.csv")

    zips, long, lats = zip_df["Zip"], zip_df["Longitude"], zip_df["Latitude"]

    # dictionary mapping zipcode to latitude and longitude
    zip_dict = {zips[i] : (long[i], lats[i]) for i in range(len(zips))}
    
    

    longitudes, latitudes = [], []

    zip_keyword = [ t for t in bank_df.columns if "zip" in str.lower(t) ][0] # find key that contains substring "zip"

    for zip_codes in bank_df[zip_keyword]:
        lon, lat = zip_dict[zip_code]
        longitudes.append(lon)
        latitudes.append(lat)

    bank_df["longitudes"], bank_df["latitudes"], = longitudes, latitudes
    bank_df.drop([zip_keyword], axis=1, inplace=True)
    return bank_df

In [75]:
filepath=None

if filepath is None:
    filepath = "./bank-loan/Bank_Personal_Loan_Modelling.csv"

bank_df = pd.read_csv(filepath)
zip_df = pd.read_csv("./us-zip-code-latitude-and-longitude.csv")

zips, long, lats = zip_df["Zip"], zip_df["Longitude"], zip_df["Latitude"]



# dictionary mapping zipcode to latitude and longitude
zip_dict = {zips[i] : (long[i], lats[i]) for i in range(len(zips))}
    
    
pd.DataFrame([zips,long, lats])

,0,1,2,3,4,5,6,7,8,9,...,43181,43182,43183,43184,43185,43186,43187,43188,43189,43190
Zip,71937.000000,72044.000000,56171.000000,49430.000000,52585.000000,47520.000000,49464.000000,49919.000000,52401.00000,35979.000000,...,14042.000000,66030.000000,14145.000000,68152.000000,24526.000000,62833.000000,34711.000000,72410.000000,35560.000000,76006.000000
Longitude,-94.393980,-92.160560,-94.743570,-85.897540,-91.980270,-86.678210,-85.996210,-88.522010,-91.65912,-85.615640,...,-78.473030,-94.926500,-78.434290,-96.000770,-79.398120,-88.164840,-81.748050,-91.076640,-87.237372,-97.080880
Latitude,34.398483,35.624351,43.660847,43.010337,41.194129,37.934311,42.829252,46.559834,41.97545,34.831242,...,42.474779,38.813839,42.720756,41.344394,37.528701,38.361654,28.545742,35.930405,33.679503,32.778047

In [76]:
df = _

In [78]:
tran_zips = df.T

In [79]:
tran_zips.to_csv("zip_to_longlat.csv",index=False)

In [94]:
%%writefile zip_long.py

def add_longitude_latitude(filepath=None):

    if filepath is None:
        filepath = "./bank-loan/Bank_Personal_Loan_Modelling.csv"
        
    bank_df = pd.read_csv(filepath)
    zip_df = pd.read_csv("./us-zip-code-latitude-and-longitude.csv")

    zips, long, lats = zip_df["Zip"], zip_df["Longitude"], zip_df["Latitude"]

    # dictionary mapping zipcode to latitude and longitude
    zip_dict = {zips[i] : (long[i], lats[i]) for i in range(len(zips))}
    
    

    longitudes, latitudes = [], []

    zip_keyword = [ t for t in bank_df.columns if "zip" in str.lower(t) ][0] # find key that contains substring "zip"

    for zip_codes in bank_df[zip_keyword]:
        lon, lat = zip_dict[zip_code]
        longitudes.append(lon)
        latitudes.append(lat)

    bank_df["longitudes"], bank_df["latitudes"], = longitudes, latitudes
    bank_df.drop([zip_keyword], axis=1, inplace=True)
    return bank_df

Writing zip_long.py

In [82]:
zipdf = pd.read_csv("zip_to_longlat.csv")

* 
* 
* 
* 
* df to df
* df to df

In [89]:
dic = zipdf.T.to_dict()

In [90]:
dic

{0: {'Zip': 71937.0, 'Longitude': -94.39398, 'Latitude': 34.398483},
 1: {'Zip': 72044.0, 'Longitude': -92.16056, 'Latitude': 35.62435100000001},
 2: {'Zip': 56171.0, 'Longitude': -94.74357, 'Latitude': 43.660847},
 3: {'Zip': 49430.0, 'Longitude': -85.89754, 'Latitude': 43.010337},
 4: {'Zip': 52585.0, 'Longitude': -91.98027, 'Latitude': 41.194129},
 5: {'Zip': 47520.0, 'Longitude': -86.67820999999998, 'Latitude': 37.934311},
 6: {'Zip': 49464.0, 'Longitude': -85.99620999999998, 'Latitude': 42.829252},
 7: {'Zip': 49919.0, 'Longitude': -88.52201, 'Latitude': 46.559834},
 8: {'Zip': 52401.0, 'Longitude': -91.65912, 'Latitude': 41.97545},
 9: {'Zip': 35979.0, 'Longitude': -85.61564, 'Latitude': 34.831242},
 10: {'Zip': 36350.0,
  'Longitude': -85.48718000000002,
  'Latitude': 31.319083000000006},
 11: {'Zip': 38401.0, 'Longitude': -87.03565, 'Latitude': 35.619784},
 12: {'Zip': 41065.0, 'Longitude': -83.718626, 'Latitude': 38.3481},
 13: {'Zip': 55302.0, 'Longitude': -94.11692, 'Latitude': 45.246631},
 14: {'Zip': 29607.0, 'Longitude': -82.34099, 'Latitude': 34.825592},
 15: {'Zip': 31150.0, 'Longitude': -84.47405, 'Latitude': 33.844371},
 16: {'Zip': 31646.0, 'Longitude': -82.08063, 'Latitude': 30.518903},
 17: {'Zip': 31826.0, 'Longitude': -84.69384000000002, 'Latitude': 32.803518},
 18: {'Zip': 17932.0, 'Longitude': -76.503339, 'Latitude': 40.649109},
 19: {'Zip': 18947.0, 'Longitude': -75.11842, 'Latitude': 40.426391},
 20: {'Zip': 20227.0, 'Longitude': -77.014647, 'Latitude': 38.893311},
 21: {'Zip': 14043.0, 'Longitude': -78.7006, 'Latitude': 42.904958},
 22: {'Zip': 15278.0, 'Longitude': -80.024817, 'Latitude': 40.434436},
 23: {'Zip': 15482.0, 'Longitude': -79.76338, 'Latitude': 40.062849},
 24: {'Zip': 33446.0, 'Longitude': -80.16509, 'Latitude': 26.452473},
 25: {'Zip': 27915.0, 'Longitude': -75.50417, 'Latitude': 35.354252},
 26: {'Zip': 23328.0, 'Longitude': -76.278531, 'Latitude': 36.7085},
 27: {'Zip': 24062.0, 'Longitude': -80.395698, 'Latitude': 37.174227},
 28: {'Zip': 26253.0, 'Longitude': -79.89057, 'Latitude': 38.827205},
 29: {'Zip': 2472.0, 'Longitude': -71.18196, 'Latitude': 42.371296},
 30: {'Zip': 7309.0, 'Longitude': -74.075485, 'Latitude': 40.73276},
 31: {'Zip': 623.0, 'Longitude': -67.15222, 'Latitude': 18.08643},
 32: {'Zip': 52163.0, 'Longitude': -92.09219, 'Latitude': 43.21661},
 33: {'Zip': 52216.0, 'Longitude': -91.04567, 'Latitude': 41.888182},
 34: {'Zip': 53031.0, 'Longitude': -87.915705, 'Latitude': 43.639395},
 35: {'Zip': 60651.0, 'Longitude': -87.74055, 'Latitude': 41.901485},
 36: {'Zip': 62090.0, 'Longitude': -90.17052, 'Latitude': 38.67065},
 37: {'Zip': 62420.0, 'Longitude': -87.99863, 'Latitude': 39.299447},
 38: {'Zip': 64503.0, 'Longitude': -94.83237, 'Latitude': 39.741794},
 39: {'Zip': 65325.0, 'Longitude': -93.19156, 'Latitude': 38.451021},
 40: {'Zip': 65638.0, 'Longitude': -92.33081, 'Latitude': 36.851944},
 41: {'Zip': 74801.0, 'Longitude': -96.93544, 'Latitude': 35.327341},
 42: {'Zip': 75475.0, 'Longitude': -96.25525, 'Latitude': 33.485315},
 43: {'Zip': 75757.0, 'Longitude': -95.3671, 'Latitude': 32.136787},
 44: {'Zip': 63179.0, 'Longitude': -90.243462, 'Latitude': 38.6531},
 45: {'Zip': 63436.0, 'Longitude': -91.5367, 'Latitude': 39.501697},
 46: {'Zip': 57440.0, 'Longitude': -98.27191, 'Latitude': 44.857069},
 47: {'Zip': 72112.0, 'Longitude': -91.24695, 'Latitude': 35.58606500000001},
 48: {'Zip': 72714.0, 'Longitude': -94.23551, 'Latitude': 36.458041},
 49: {'Zip': 99671.0, 'Longitude': -162.27463, 'Latitude': 63.51189300000001},
 50: {'Zip': 97304.0, 'Longitude': -123.08033, 'Latitude': 44.970181},
 51: {'Zip': 97414.0, 'Longitude': -124.1716, 'Latitude': 42.977978},
 52: {'Zip': 81148.0, 'Longitude': -105.98648, 'Latitude': 37.171583},
 53: {'Zip': 81423.0, 'Longitude': -108.2586, 'Latitude': 38.082231},
 54: {'Zip': 81505.0, 'Longitude': -108.60506, 'Latitude': 39.112514},
 55: {'Zip': 81624.0, 'Longitude': -107.93414, 'Latitude': 39.220166},
 56: {'Zip': 82718.0, 'Longitude': -105.52445, 'Latitude': 43.939968},
 57: {'Zip': 89317.0, 'Longitude': -115.02628, 'Latitude': 38.835421},
 58: {'Zip': 92232.0, 'Longitude': -115.284581, 'Latitude': 33.026203},
 59: {'Zip': 93227.0, 'Longitude': -119.425371, 'Latitude': 36.357151},
 60: {'Zip': 93234.0, 'Longitude': -120.0847, 'Latitude': 36.209815},
 61: {'Zip': 93529.0, 'Longitude': -119.07769, 'Latitude': 37.765218},
 62: {'Zip': 93761.0, 'Longitude': -119.639658, 'Latitude': 36.746375},
 63: {'Zip': 94931.0, 'Longitude': -122.71044, 'Latitude': 38.328614},
 64: {'Zip': 95322.0, 'Longitude': -121.03232, 'Latitude': 37.187494},
 65: {'Zip': 30334.0, 'Longitude': -84.439127, 'Latitude': 33.702657},
 66: {'Zip': 36879.0, 'Longitude': -85.55322, 'Latitude': 32.733511},
 67: {'Zip': 38017.0, 'Longitude': -89.67416999999998, 'Latitude': 35.057224},
 68: {'Zip': 43984.0, 'Longitude': -81.102502, 'Latitude': 40.29649000000001},
 69: {'Zip': 46787.0, 'Longitude': -85.62796, 'Latitude': 41.080236},
 70: {'Zip': 31606.0, 'Longitude': -83.19624, 'Latitude': 30.802411},
 71: {'Zip': 55992.0, 'Longitude': -92.68312, 'Latitude': 44.297157},
 72: {'Zip': 13827.0, 'Longitude': -76.25874, 'Latitude': 42.120274},
 73: {'Zip': 14739.0, 'Longitude': -78.14308, 'Latitude': 42.192384},
 74: {'Zip': 15227.0, 'Longitude': -79.97516, 'Latitude': 40.377869},
 75: {'Zip': 16877.0, 'Longitude': -78.08561, 'Latitude': 40.721787},
 76: {'Zip': 31732.0, 'Longitude': -85.0557, 'Latitude': 31.169794},
 77: {'Zip': 32621.0, 'Longitude': -82.60452, 'Latitude': 29.447069},
 78: {'Zip': 21634.0, 'Longitude': -76.20146, 'Latitude': 38.288409},
 79: {'Zip': 24008.0, 'Longitude': -79.95786, 'Latitude': 37.274175},
 80: {'Zip': 25645.0, 'Longitude': -81.902401, 'Latitude': 37.833204},
 81: {'Zip': 34447.0, 'Longitude': -82.574264, 'Latitude': 28.804911},
 82: {'Zip': 35004.0, 'Longitude': -86.50249000000002, 'Latitude': 33.606379},
 83: {'Zip': 27834.0,
  'Longitude': -77.37895999999998,
  'Latitude': 35.62665300000001},
 84: {'Zip': 28373.0, 'Longitude': -79.47979000000002, 'Latitude': 35.100144},
 85: {'Zip': 11703.0, 'Longitude': -73.32257, 'Latitude': 40.733398},
 86: {'Zip': 2909.0, 'Longitude': -71.44775, 'Latitude': 41.8191},
 87: {'Zip': 4617.0, 'Longitude': -68.74399, 'Latitude': 44.363587},
 88: {'Zip': 7961.0, 'Longitude': -74.442797, 'Latitude': 40.77975},
 89: {'Zip': 767.0, 'Longitude': -65.89703, 'Latitude': 18.072752},
 90: {'Zip': 803.0, 'Longitude': -64.96371500000001, 'Latitude': 18.322285},
 91: {'Zip': 43681.0, 'Longitude': -83.43943, 'Latitude': 41.686778},
 92: {'Zip': 36744.0, 'Longitude': -87.60177, 'Latitude': 32.703529},
 93: {'Zip': 37616.0, 'Longitude': -82.74704, 'Latitude': 36.218863},
 94: {'Zip': 38602.0, 'Longitude': -90.106756, 'Latitude': 34.686271999999995},
 95: {'Zip': 50519.0, 'Longitude': -94.27644, 'Latitude': 42.884723},
 96: {'Zip': 40081.0, 'Longitude': -85.492459, 'Latitude': 38.3386},
 97: {'Zip': 30444.0, 'Longitude': -84.450276, 'Latitude': 33.696073},
 98: {'Zip': 90038.0, 'Longitude': -118.3285, 'Latitude': 34.089459000000005},
 99: {'Zip': 90063.0, 'Longitude': -118.1865, 'Latitude': 34.045161},
 100: {'Zip': 92709.0, 'Longitude': -117.769442, 'Latitude': 33.640302},
 101: {'Zip': 93492.0, 'Longitude': -120.859391, 'Latitude': 35.372861},
 102: {'Zip': 94175.0, 'Longitude': -122.727802, 'Latitude': 37.784827},
 103: {'Zip': 84530.0, 'Longitude': -109.15445, 'Latitude': 38.236886},
 104: {'Zip': 95592.0, 'Longitude': -122.271251, 'Latitude': 38.098737},
 105: {'Zip': 38138.0, 'Longitude': -89.80677, 'Latitude': 35.088885},
 106: {'Zip': 40298.0, 'Longitude': -85.676819, 'Latitude': 38.188962},
 107: {'Zip': 56517.0, 'Longitude': -96.53492, 'Latitude': 47.55171},
 108: {'Zip': 57841.0, 'Longitude': -98.704197, 'Latitude': 45.632378},
 109: {'Zip': 58323.0, 'Longitude': -98.90525, 'Latitude': 48.849591},
 110: {'Zip': 58533.0, 'Longitude': -101.82853, 'Latitude': 46.408171},
 111: {'Zip': 58771.0, 'Longitude': -101.9763, 'Latitude': 48.073998},
 112: {'Zip': 58793.0, 'Longitude': -101.04936, 'Latitude': 48.87181500000001},
 113: {'Zip': 53171.0, 'Longitude': -87.903161, 'Latitude': 42.642298},
 114: {'Zip': 53189.0, 'Longitude': -88.264, 'Latitude': 42.967394},
 115: {'Zip': 56091.0, 'Longitude': -93.69492, 'Latitude': 43.930363},
 116: {'Zip': 43733.0, 'Longitude': -81.542965, 'Latitude': 39.923616},
 117: {'Zip': 47613.0, 'Longitude': -87.42886, 'Latitude': 38.170645},
 118: {'Zip': 51049.0, 'Longitude': -95.61438, 'Latitude': 42.626822},
 119: {'Zip': 51651.0, 'Longitude': -95.024969, 'Latitude': 40.65747},
 120: {'Zip': 53014.0, 'Longitude': -88.17626, 'Latitude': 44.03321500000001},
 121: {'Zip': 43334.0, 'Longitude': -82.80783000000002, 'Latitude': 40.399648},
 122: {'Zip': 62206.0, 'Longitude': -90.1628, 'Latitude': 38.564451},
 123: {'Zip': 64155.0, 'Longitude': -94.57344, 'Latitude': 39.276828},
 124: {'Zip': 48215.0, 'Longitude': -82.95243, 'Latitude': 42.378287},
 125: {'Zip': 30531.0, 'Longitude': -83.54118000000003, 'Latitude': 34.514215},
 126: {'Zip': 20521.0, 'Longitude': -77.014647, 'Latitude': 38.893311},
 127: {'Zip': 20557.0, 'Longitude': -77.004663, 'Latitude': 38.887405},
 128: {'Zip': 23176.0, 'Longitude': -76.41631, 'Latitude': 37.571789},
 129: {'Zip': 16830.0, 'Longitude': -78.43838000000002, 'Latitude': 41.026239},
 130: {'Zip': 16876.0, 'Longitude': -78.28886, 'Latitude': 40.960106},
 131: {'Zip': 11707.0, 'Longitude': -72.637078, 'Latitude': 40.922326},
 132: {'Zip': 12442.0, 'Longitude': -74.23418000000002, 'Latitude': 42.222061},
 133: {'Zip': 13334.0, 'Longitude': -75.65482, 'Latitude': 42.83917},
 134: {'Zip': 13626.0, 'Longitude': -75.72941999999998, 'Latitude': 43.859025},
 135: {'Zip': 24620.0, 'Longitude': -82.02317, 'Latitude': 37.409883},
 136: {'Zip': 25521.0, 'Longitude': -81.98991, 'Latitude': 38.238045},
 137: {'Zip': 34489.0,
  'Longitude': -82.097163,
  'Latitude': 29.215153000000004},
 138: {'Zip': 17866.0, 'Longitude': -76.56393, 'Latitude': 40.791328},
 139: {'Zip': 17882.0, 'Longitude': -77.20537, 'Latitude': 40.801614},
 140: {'Zip': 18466.0, 'Longitude': -75.36779, 'Latitude': 41.19012},
 141: {'Zip': 19173.0, 'Longitude': -75.11787, 'Latitude': 40.001811},
 142: {'Zip': 28039.0, 'Longitude': -80.44593, 'Latitude': 35.677889},
 143: {'Zip': 28206.0, 'Longitude': -80.82748000000002, 'Latitude': 35.248292},
 144: {'Zip': 28282.0, 'Longitude': -80.84474300000002, 'Latitude': 35.224242},
 145: {'Zip': 96778.0, 'Longitude': -154.9266, 'Latitude': 19.494625},
 146: {'Zip': 97298.0, 'Longitude': -123.114725, 'Latitude': 45.548616},
 147: {'Zip': 97538.0, 'Longitude': -123.54778, 'Latitude': 42.259678},
 148: {'Zip': 98520.0, 'Longitude': -123.81923, 'Latitude': 46.972965},
 149: {'Zip': 98579.0, 'Longitude': -123.08647, 'Latitude': 46.814438},
 150: {'Zip': 93701.0, 'Longitude': -119.78872, 'Latitude': 36.749444},
 151: {'Zip': 94295.0, 'Longitude': -121.444429, 'Latitude': 38.377411},
 152: {'Zip': 16601.0, 'Longitude': -78.40082, 'Latitude': 40.526319},
 153: {'Zip': 17301.0, 'Longitude': -76.98359, 'Latitude': 39.891548},
 154: {'Zip': 19420.0,
  'Longitude': -75.45671899999998,
  'Latitude': 40.15287100000001},
 155: {'Zip': 32503.0, 'Longitude': -87.20727, 'Latitude': 30.447997},
 156: {'Zip': 36268.0, 'Longitude': -85.94756, 'Latitude': 33.511790000000005},
 157: {'Zip': 24292.0, 'Longitude': -81.59154000000002, 'Latitude': 36.59565},
 158: {'Zip': 26267.0, 'Longitude': -80.07907, 'Latitude': 38.912609},
 159: {'Zip': 27341.0, 'Longitude': -79.71018000000002, 'Latitude': 35.53332},
 160: {'Zip': 8887.0, 'Longitude': -74.79632, 'Latitude': 40.525361},
 161: {'Zip': 71284.0, 'Longitude': -91.216458, 'Latitude': 32.341594},
 162: {'Zip': 71423.0, 'Longitude': -92.54954, 'Latitude': 31.563093},
 163: {'Zip': 71443.0, 'Longitude': -93.361238, 'Latitude': 31.1019},
 164: {'Zip': 48226.0,
  'Longitude': -83.04888000000003,
  'Latitude': 42.33182100000001},
 165: {'Zip': 48503.0, 'Longitude': -83.69291, 'Latitude': 43.01122700000001},
 166: {'Zip': 49756.0, 'Longitude': -84.30787, 'Latitude': 44.839929},
 167: {'Zip': 50675.0, 'Longitude': -92.4828, 'Latitude': 42.19357700000001},
 168: {'Zip': 78650.0, 'Longitude': -97.23563, 'Latitude': 30.283941},
 169: {'Zip': 80402.0, 'Longitude': -105.223945, 'Latitude': 39.522014},
 170: {'Zip': 83121.0, 'Longitude': -110.53743, 'Latitude': 41.814385},
 171: {'Zip': 92693.0, 'Longitude': -117.564, 'Latitude': 33.555323},
 172: {'Zip': 93140.0,
  'Longitude': -119.848555,
  'Latitude': 34.262834000000005},
 173: {'Zip': 93255.0, 'Longitude': -118.01701, 'Latitude': 35.666835},
 174: {'Zip': 75010.0, 'Longitude': -96.89328, 'Latitude': 33.030556},
 175: {'Zip': 76054.0, 'Longitude': -97.17681, 'Latitude': 32.858398},
 176: {'Zip': 68743.0, 'Longitude': -96.60668, 'Latitude': 42.460155},
 177: {'Zip': 85268.0, 'Longitude': -111.72852, 'Latitude': 33.604811},
 178: {'Zip': 45841.0, 'Longitude': -83.73199, 'Latitude': 40.881217},
 179: {'Zip': 65047.0, 'Longitude': -92.58331, 'Latitude': 38.14008},
 180: {'Zip': 67102.0, 'Longitude': -96.75924, 'Latitude': 37.043519},
 181: {'Zip': 67954.0, 'Longitude': -101.61909, 'Latitude': 37.163412},
 182: {'Zip': 68792.0, 'Longitude': -97.14372, 'Latitude': 42.749481},
 183: {'Zip': 75961.0, 'Longitude': -94.60338, 'Latitude': 31.626011},
 184: {'Zip': 76452.0, 'Longitude': -98.40613, 'Latitude': 31.758351},
 185: {'Zip': 76855.0, 'Longitude': -99.85837, 'Latitude': 31.333614},
 186: {'Zip': 80235.0,
  'Longitude': -105.08431000000002,
  'Latitude': 39.648328},
 187: {'Zip': 80620.0, 'Longitude': -104.70357, 'Latitude': 40.378019},
 188: {'Zip': 81001.0, 'Longitude': -104.57029, 'Latitude': 38.282872},
 189: {'Zip': 83401.0, 'Longitude': -111.98136, 'Latitude': 43.528891},
 190: {'Zip': 85292.0, 'Longitude': -110.72198, 'Latitude': 32.945838},
 191: {'Zip': 57481.0, 'Longitude': -98.62274, 'Latitude': 45.663385},
 192: {'Zip': 58723.0, 'Longitude': -100.69257, 'Latitude': 47.785232},
 193: {'Zip': 78349.0, 'Longitude': -98.29797, 'Latitude': 27.316167},
 194: {'Zip': 79381.0, 'Longitude': -101.76906, 'Latitude': 33.327782},
 195: {'Zip': 63626.0, 'Longitude': -90.64229, 'Latitude': 38.053566},
 196: {'Zip': 23290.0, 'Longitude': -77.493157, 'Latitude': 37.52424600000001},
 197: {'Zip': 23486.0, 'Longitude': -75.810482, 'Latitude': 37.518917},
 198: {'Zip': 24069.0, 'Longitude': -79.64194, 'Latitude': 36.586545},
 199: {'Zip': 15773.0, 'Longitude': -78.73335, 'Latitude': 40.628368},
 200: {'Zip': 16665.0, 'Longitude': -78.43508, 'Latitude': 40.393223},
 201: {'Zip': 16927.0, 'Longitude': -77.67187, 'Latitude': 41.95805900000001},
 202: {'Zip': 30746.0, 'Longitude': -85.02481999999998, 'Latitude': 34.574804},
 203: {'Zip': 32830.0, 'Longitude': -81.505894, 'Latitude': 28.385549},
 204: {'Zip': 33756.0, 'Longitude': -82.78702, 'Latitude': 27.944631},
 205: {'Zip': 20868.0, 'Longitude': -76.96372, 'Latitude': 39.127028},
 206: {'Zip': 21849.0, 'Longitude': -75.45574, 'Latitude': 38.363057},
 207: {'Zip': 22218.0, 'Longitude': -77.11295, 'Latitude': 38.880811},
 208: {'Zip': 17570.0, 'Longitude': -76.56991, 'Latitude': 40.129494},
 209: {'Zip': 17942.0, 'Longitude': -76.229623, 'Latitude': 40.722587},
 210: {'Zip': 18456.0, 'Longitude': -75.33971, 'Latitude': 41.606185},
 211: {'Zip': 18834.0, 'Longitude': -75.72077, 'Latitude': 41.853082},
 212: {'Zip': 18921.0, 'Longitude': -75.10278000000002, 'Latitude': 40.328645},
 213: {'Zip': 19134.0, 'Longitude': -75.11116, 'Latitude': 39.991712},
 214: {'Zip': 29164.0, 'Longitude': -81.40845, 'Latitude': 33.659078},
 215: {'Zip': 54020.0, 'Longitude': -92.64222, 'Latitude': 45.299735},
 216: {'Zip': 55125.0, 'Longitude': -92.94234, 'Latitude': 44.921982},
 217: {'Zip': 56039.0, 'Longitude': -94.33773, 'Latitude': 43.680519},
 218: {'Zip': 39072.0, 'Longitude': -90.397157, 'Latitude': 32.311287},
 219: {'Zip': 39154.0, 'Longitude': -90.45709, 'Latitude': 32.230592},
 220: {'Zip': 8817.0, 'Longitude': -74.39754, 'Latitude': 40.516104},
 221: {'Zip': 10965.0, 'Longitude': -74.01734, 'Latitude': 41.063329},
 222: {'Zip': 12151.0, 'Longitude': -73.79363000000002, 'Latitude': 42.932326},
 223: {'Zip': 12195.0, 'Longitude': -73.474809, 'Latitude': 42.479384},
 224: {'Zip': 18216.0, 'Longitude': -75.91493, 'Latitude': 40.931187},
 225: {'Zip': 2169.0, 'Longitude': -70.99593, 'Latitude': 42.250739},
 226: {'Zip': 2375.0, 'Longitude': -71.10191, 'Latitude': 42.029749},
 227: {'Zip': 2639.0, 'Longitude': -70.13348, 'Latitude': 41.661115},
 228: {'Zip': 77590.0, 'Longitude': -94.91759, 'Latitude': 29.395283000000006},
 229: {'Zip': 78013.0, 'Longitude': -98.91084, 'Latitude': 29.972473},
 230: {'Zip': 68832.0, 'Longitude': -98.38794, 'Latitude': 40.763643},
 231: {'Zip': 42046.0, 'Longitude': -88.092285, 'Latitude': 36.6033},
 232: {'Zip': 43652.0, 'Longitude': -83.43943, 'Latitude': 41.686778},
 233: {'Zip': 62611.0, 'Longitude': -90.39332, 'Latitude': 39.883346},
 234: {'Zip': 70005.0, 'Longitude': -90.13398, 'Latitude': 29.999453000000006},
 235: {'Zip': 71048.0, 'Longitude': -92.85568, 'Latitude': 32.830135},
 236: {'Zip': 26865.0, 'Longitude': -78.49655, 'Latitude': 39.199856},
 237: {'Zip': 28007.0, 'Longitude': -80.10965, 'Latitude': 35.104652},
 238: {'Zip': 54964.0, 'Longitude': -88.72654, 'Latitude': 43.923141},
 239: {'Zip': 56011.0, 'Longitude': -93.76906, 'Latitude': 44.616113},
 240: {'Zip': 19318.0, 'Longitude': -75.811789, 'Latitude': 39.852406},
 241: {'Zip': 21241.0, 'Longitude': -76.620489, 'Latitude': 39.284707},
 242: {'Zip': 50167.0, 'Longitude': -94.04659, 'Latitude': 41.750745},
 243: {'Zip': 80202.0, 'Longitude': -104.99699, 'Latitude': 39.751586},
 244: {'Zip': 84305.0, 'Longitude': -112.0433, 'Latitude': 41.938629},
 245: {'Zip': 85382.0, 'Longitude': -112.24838, 'Latitude': 33.689869},
 246: {'Zip': 93465.0, 'Longitude': -120.72428, 'Latitude': 35.54464},
 247: {'Zip': 94160.0, 'Longitude': -122.727802, 'Latitude': 37.784827},
 248: {'Zip': 94164.0, 'Longitude': -122.727802, 'Latitude': 37.784827},
 249: {'Zip': 95383.0, 'Longitude': -120.23002, 'Latitude': 38.055888},
 250: {'Zip': 95665.0, 'Longitude': -120.64952, 'Latitude': 38.40097},
 251: {'Zip': 79917.0,
  'Longitude': -106.29998700000002,
  'Latitude': 31.694842},
 252: {'Zip': 90301.0, 'Longitude': -118.35868, 'Latitude': 33.955913},
 253: {'Zip': 60974.0, 'Longitude': -87.73137, 'Latitude': 40.710295},
 254: {'Zip': 62001.0, 'Longitude': -89.74886, 'Latitude': 38.88443400000001},
 255: {'Zip': 92543.0, 'Longitude': -116.97401, 'Latitude': 33.73542},
 256: {'Zip': 92837.0, 'Longitude': -117.769442, 'Latitude': 33.640302},
 257: {'Zip': 14617.0, 'Longitude': -77.59721, 'Latitude': 43.223213},
 258: {'Zip': 15238.0, 'Longitude': -79.86744, 'Latitude': 40.518701},
 259: {'Zip': 21767.0, 'Longitude': -77.74514, 'Latitude': 39.697894},
 260: {'Zip': 2886.0, 'Longitude': -71.45119, 'Latitude': 41.705478},
 261: {'Zip': 3648.0, 'Longitude': -72.135352, 'Latitude': 43.630276},
 262: {'Zip': 4981.0, 'Longitude': -68.85667, 'Latitude': 44.499082},
 263: {'Zip': 5061.0, 'Longitude': -72.5731, 'Latitude': 43.928369},
 264: {'Zip': 5648.0, 'Longitude': -72.49509, 'Latitude': 44.375726},
 265: {'Zip': 19488.0, 'Longitude': -75.74805500000002, 'Latitude': 39.983153},
 266: {'Zip': 19524.0, 'Longitude': -75.858731, 'Latitude': 40.248684},
 267: {'Zip': 982.0, 'Longitude': -65.99313000000001, 'Latitude': 18.409345},
 268: {'Zip': 37407.0, 'Longitude': -85.28673, 'Latitude': 35.000825},
 269: {'Zip': 38704.0,
  'Longitude': -90.918503,
  'Latitude': 33.253401000000004},
 270: {'Zip': 38912.0, 'Longitude': -90.053958, 'Latitude': 33.65497},
 271: {'Zip': 30415.0, 'Longitude': -81.62339, 'Latitude': 32.3456},
 272: {'Zip': 31525.0, 'Longitude': -81.49831999999998, 'Latitude': 31.260995},
 273: {'Zip': 32798.0, 'Longitude': -81.5754, 'Latitude': 28.716923},
 274: {'Zip': 43719.0, 'Longitude': -81.0763, 'Latitude': 40.009383},